<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><title>{Title}</title>
 
<!--
 
 
XOXO - BIAS PAGE BY KIMTYS.TUMBLR.COM
 
edit as much as you want but please don't hide or remove credits!
 
           
-->
 
<link rel="alternate" type="application/rss+xml" href="{RSS}">
<link rel="shortcut icon" href="{Favicon}">
<script src="http://static.tumblr.com/ta26uqw/yqQn9iy9c/jquery-1.7.1.min.js"></script>
 
<script type="text/javascript" src="http://static.tumblr.com/dbek3sy/iBElrgjim/jquerymasonry.js"></script>
<script src="http://static.tumblr.com/ta26uqw/WEfn9jpn7/imagesloaded.pkgd.min.js"></script>

<script src="http://static.tumblr.com/7qjmkr5/IUmmdsy41/jquery.style-my-tooltips.js"></script>
<script>
	(function($){$(document)
	.ready(function(){$("[title]")
	.style_my_tooltips();});})
	(jQuery);
</script>
 
<style>
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
   
 
<style type="text/css">
 
::-webkit-scrollbar { height: 0px; width: 9px; background: #62d1d1; border: 4px solid #fff; opacity:1; }
::-webkit-scrollbar-thumb { background: #62d1d1; border: #fff solid 2px; height: 8px; width: 11px; border-radius: 8px; -moz-border-radius: 8px -webkit-border-radius: 8px o-border-radius: 8px; -ms-border-radius: 8px;}
 
::-moz-selection {background:#62d1d1; color:#fff;}
::selection {background:#62d1d1; color:#fff;}

@font-face { font-family:"intro"; src: url('https://dl.dropboxusercontent.com/s/wqjoh441thuflo6/Intro.otf');} /* CREDIT TO DYOTHMS */
 
body {
	margin:0;
	padding:0;
	border:0;
	background:#f8f8f8; /* BACKGROUND COLOR */
	background-image:url(BACKGROUND IMAGE URL);background-attachment:fixed;background-repeat:100%;
	color:#555;
	font-family:arial;
	font-size:12px;
	word-wrap:break-word;
}
 
a {
	color:#000;
	text-decoration:none;
	-moz-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-o-transition-duration:0.5s;
}
 
#s-m-t-tooltip {
	max-width:150px;
	padding:2px 6px;
	margin:25px 14px 7px 15px;
	background-color:#fff;
	font-family:Calibri; 
	font-weight:bold;
	box-shadow:rgba(0,0,0,0.06) 5px 5px;
	border:1px solid #ccc;
	font-size:8px; 
	line-height:11px;
	letter-spacing:1px; 
	text-transform:uppercase; 
	color:#222; 
	z-index:999;
	-moz-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-o-transition-duration:0.5s;
}
 
#center {
    position: relative;
    text-align: justify;
    text-align-last: center;
    display: table-cell;
    vertical-align: middle;
    padding:60px;
}
 
.top {
	width:auto;
	opacity:0.8;
	text-align:center;
	border-bottom:1px #ccc solid;
	margin-left:auto;
	margin-right:auto;
	top:0;
	font-size:11px;
	font-family:arial;
	letter-spacing:0px;
	padding-top:10px;
	padding-bottom:20px;
	color:#000; /* DESCRIPTION COLOR */
	background:#fff; /* TOP BACKGROUND COLOR */
}
 
.top a {
	color:#000; /* TITLE COLOR */
	font-size:54px;
	font-family:intro;
	letter-spacing:0px;
	font-weight:bold;
	padding:20px;
	-moz-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-o-transition-duration:0.5s;
}
 
.top a:hover {
	color:#9cdfed; /* TITLE HOVER */
	-moz-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-o-transition-duration:0.5s;
}
 
.pic {
	width:200px;
	height:293px;
	margin:20px;
	background:#fff; /* PIC BACKGROUND */
	display:inline-block;
	box-shadow:rgba(0,0,0,0.06) 5px 5px;
	border:1px solid #ccc; /* PIC BORDER */
	padding:15px;
	-webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
}
 
.pic img {
	width:200px;
	height:293px;
	display:inline-block;
}
 
 
.pic:hover .info {
	opacity:0.7; /* INFO OPACITY HOVER */
	margin-top:0px;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
}
 
.info {
	position:absolute;
	width:190px;
	height:268px;
	padding:5px;
	padding-top:20px;
	background:#444; /* INFO BACKGROUND COLOR */
	font-size:20px;
	font-family:intro;
	text-transform:uppercase;
	color:#fff; /* INFO TEXT COLOR */
	opacity:0;
	margin-top:0px;
	text-align:center;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
}

.info a {
	color:#fff; /* INFO LINK COLOR */
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
}

.info a:hover {
	color:#40ad4b; /* INFO LINK HOVER */ 
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
}

/* CREDIT - DONT TOUCH */

#cr {bottom:10px;right:10px;font-weight:bold;color:#62d1d1;font-size:12px; position:fixed;background:#fff;padding:5px 7px;border:1px solid #ccc;box-shadow:rgba(0,0,0,0.06) 5px 5px;}
 
 
 
</style>  
<script src="http://assets.tumblr.com/assets/scripts/tumblelog.js?_v=7edb3c3b36e8b351a1249cf33411a3a7"></script>
<meta http-equiv="x-dns-prefetch-control" content="off"/>


</head>
 
<body>
 
 
<div class="top">
<a href="/" title="back home">THE ROGUES</a><br>
the rogues of central city
</div>
 
<div id="center">

<!-- NAME 1 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/albert-desmond">albert desmond</a>
<br><span style="font-size:12px">doctor alchemy</span></div>
 
</div>
<img src="https://68.media.tumblr.com/429fcc1f72594febb8d663e2c17f1f1b/tumblr_oomev0viaP1w8ebdjo2_250.png"></div>

<!-- END NAME 1 -->

<!-- NAME 1 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/axel-walker">axel walker</a>
<br><span style="font-size:12px">trickster II</span></div>
 
</div>
<img src="https://68.media.tumblr.com/cc7e02cab4f104c56b058c8992364d93/tumblr_oomev0viaP1w8ebdjo3_250.png"></div>

<!-- END NAME 1 -->

<!-- NAME 2 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/citizen-abra">citizen abra</a>
<br><span style="font-size:12px">abra kadabra</span></div>
 
</div>
<img src="https://68.media.tumblr.com/25577335062e35cf6a27d2498313b6fd/tumblr_oomev0viaP1w8ebdjo1_250.png"></div>

<!-- END NAME 2 -->

<!-- NAME 3 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/clyde-mardon">clyde mardon</a>
<br><span style="font-size:12px">weather wizard 0</span></div>
 
</div>
<img src="https://68.media.tumblr.com/9f8eb8a0a56a61c9209d3ba8e51dbf74/tumblr_oomev0viaP1w8ebdjo4_250.png"></div>

<!-- END NAME 3 -->

<!-- NAME 5 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/evan-mcculloch">evan mcculloch</a>
<br><span style="font-size:12px">mirror master II</span></div>
 
</div>
<img src="https://68.media.tumblr.com/a72962282b7535aa03db139d08469fc5/tumblr_oomev0viaP1w8ebdjo6_250.png"></div>

<!-- END NAME 5 -->

<!-- NAME 6 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/frankie-kane">frances "frankie" kane </a>
<br><span style="font-size:12px">magenta</span></div>
 
</div>
<img src="https://68.media.tumblr.com/a3fef8d03aae094594c1437eecf1a0fe/tumblr_oomev0viaP1w8ebdjo7_250.png"></div>

<!-- END NAME 6 -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/digger-harkness">george "digger" harkness</a>
<br><span style="font-size:12px">captain boomerang I</span></div>
 
</div>
<img src="https://68.media.tumblr.com/b24c60d2ffd86227f8cbeebaa470b961/tumblr_oomev0viaP1w8ebdjo5_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/james-jesse">giovanni "james" giuseppi</a>
<br><span style="font-size:12px">trickster I</span></div>
 
</div>
<img src="https://68.media.tumblr.com/29a601ca1ea650427e40d9547c43d369/tumblr_oomfxecY1j1w8ebdjo9_250.png"></div>

<!-- END NAME -->

<!-- NAME 7 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/gorilla-grodd">grodd</a>
<br><span style="font-size:12px">gorilla grodd</span></div>
 
</div>
<img src="https://68.media.tumblr.com/14095c6963e9d49890ef6cb86cf84b82/tumblr_oomev0viaP1w8ebdjo8_250.png"></div>

<!-- END NAME 7 -->

<!-- NAME 8 -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/hartley-rathaway">hartley rathaway</a>
<br><span style="font-size:12px">pied piper</span></div>
 
</div>
<img src="https://68.media.tumblr.com/443784575d1916b4c4e3f5f6eae0ae2e/tumblr_oomev0viaP1w8ebdjo9_250.png"></div>

<!-- END NAME 8 -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/jake simmons">jake simmons</a>
<br><span style="font-size:12px">deathbolt</span></div>
 
</div>
<img src="https://68.media.tumblr.com/7003ecc2e8cd5c8111344d38a6bdc528/tumblr_oomfxecY1j1w8ebdjo7_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/jared-morillo">jared morillo</a>
<br><span style="font-size:12px">plunder</span></div>
 
</div>
<img src="https://68.media.tumblr.com/b1fe48aa9dd36b9be3fe5b8b2c8ec37f/tumblr_oomfxecY1j1w8ebdjo5_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/jeremy-tell">jeremy tell</a>
<br><span style="font-size:12px">double down</span></div>
 
</div>
<img src="https://68.media.tumblr.com/3df639339fafe01799c652c8a9e4e840/tumblr_oomfxecY1j1w8ebdjo4_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/joey-monteleone">joey monteleone</a>
<br><span style="font-size:12px">tar pit</span></div>
 
</div>
<img src="https://68.media.tumblr.com/b08e9117e3ae4f0d9d957eba3db31375/tumblr_oomfxecY1j1w8ebdjo3_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/kyle-nimbus">kyle nimbus</a>
<br><span style="font-size:12px">the mist</span></div>
 
</div>
<img src="https://68.media.tumblr.com/1542dffbeae66933f4319bccc9d45b9d/tumblr_oomfxecY1j1w8ebdjo2_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/shawna-baez">lashawn "shawna" baez</a>
<br><span style="font-size:12px">peek-a-boo</span></div>
 
</div>
<img src="https://68.media.tumblr.com/c40a478278d42874fa2825496fb77fd5/tumblr_oomfxecY1j1w8ebdjo6_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/leonard-snart">leonard snart</a>
<br><span style="font-size:12px">captain cold</span></div>
 
</div>
<img src="https://68.media.tumblr.com/3ad4d84dc749a1e5dc6f4c0cc58a81f0/tumblr_oomfxecY1j1w8ebdjo1_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/lisa-snart">lisa snart</a>
<br><span style="font-size:12px">golden glider</span></div>
 
</div>
<img src="https://68.media.tumblr.com/bc0f690638fa474761ed064435e3fd22/tumblr_oomfxecY1j1w8ebdjo8_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/marco-mardon">marco</a>/<a href="/tagged/mark-mardon">mark mardon</a>
<br><span style="font-size:12px">weather wizard</span></div>
 
</div>
<img src="https://68.media.tumblr.com/6f01164604d60d72dd33f445c9a0f648/tumblr_oomgpnhJ3H1w8ebdjo7_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/michael-christian-amar">michael christian amar</a>
<br><span style="font-size:12px">murmur</span></div>
 
</div>
<img src="https://68.media.tumblr.com/b0a42dddd9cdf2a44cca7aa32acfcdc8/tumblr_oomgpnhJ3H1w8ebdjo6_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/mick-rory">mick rory</a>
<br><span style="font-size:12px">heatwave</span></div>
 
</div>
<img src="https://68.media.tumblr.com/38bc24915285eb5da19b534de2871d20/tumblr_oomgpnhJ3H1w8ebdjo5_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/owen-mercer">owen mercer</a>
<br><span style="font-size:12px">captain boomerang II</span></div>
 
</div>
<img src="https://68.media.tumblr.com/9a3474ea60fea571e0b7fcedb97a9e6c/tumblr_oomgpnhJ3H1w8ebdjo10_r1_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/roscoe-dillon">roscoe</a>/<a href="/tagged/rosa-dillon">rosa dillon</a>
<br><span style="font-size:12px">the top</span></div>
 
</div>
<img src="https://68.media.tumblr.com/1cd9f55ed6de0d6e427ab0264691046e/tumblr_oomgpnhJ3H1w8ebdjo8_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/roy-bivolo">roy g. bivolo</a>
<br><span style="font-size:12px">rainbow raider/prism</span></div>
 
</div>
<img src="https://68.media.tumblr.com/c6a1d2180c00bda8425dc8154d7b8f6c/tumblr_oomgpnhJ3H1w8ebdjo3_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/sam-scudder">sam scudder</a>
<br><span style="font-size:12px">mirror master I</span></div>
 
</div>
<img src="https://68.media.tumblr.com/955d0783e0596607c6760ad98bc9d043/tumblr_oomgpnhJ3H1w8ebdjo9_r1_250.png"></div>

<!-- END NAME -->

<!-- NAME -->

<div class="pic">
<div class="info">
<div style="margin-top:95px;"><a href="/tagged/tony-woodward">tony woodward</a>
<br><span style="font-size:12px">girder</span></div>
 
</div>
<img src="https://68.media.tumblr.com/25c1db0bab850c81f22adcbd31eb0081/tumblr_oomgpnhJ3H1w8ebdjo1_250.png"></div>

<!-- END NAME -->



<!-- CREDIT - DONT TOUCH! -->



<a href="http://kimtys.tumblr.com" title="theme by kimtys"><div id="cr">k.</div></a>

</div>
</body>
</html>